---js
{
  pagination: { data: "languages", size: 1, alias: "lang" },
  permalink: function(data) { return data.lang.code + "/blog.html"; },
  layout: "layouts/page.njk",
  pageCss: "css/blog.css",
  navKey: "Blog",
  extraFonts: "&family=Merriweather:wght@700",
  currentPage: "blog.html",
  eleventyComputed: {
    title: function(data) { var L = data.lang.code; return (data.ui[L]||data.ui.en).page_blog_title + " - Grant Consulting"; },
    description: function(data) { return (data.ui[data.lang.code]||data.ui.en).blog_subtitle; },
    heroTitle: function(data) { return (data.ui[data.lang.code]||data.ui.en).page_blog_hero; },
    breadcrumbs: function(data) { return [{ label: (data.ui[data.lang.code]||data.ui.en).page_blog_hero }]; }
  }
}
---
    <div class="main-wrap">
      {% include "partials/blog-sidebar.njk" %}

      <div class="blog-content">
        <div class="blog-grid">
          {%- for post in blog[L] %}
          <article class="blog-card" data-aos="fade-up" data-aos-delay="{{ loop.index0 * 100 }}">
            <img class="image" src="{{ langRoot }}img/blog/{{ post.image }}" alt="{{ post.title }}">
            <div class="body">
              <div class="meta">
                <span>{{ post.author }}</span>
                <span>{{ post.date }}</span>
              </div>
              <h3><a href="/{{ L }}/{{ post.link }}">{{ post.title }}</a></h3>
              <p class="excerpt">{{ post.excerpt }}</p>
              <a href="/{{ L }}/{{ post.link }}" class="read-more">{{ t.btn_read_more }}</a>
            </div>
          </article>
          {%- endfor %}
        </div>
      </div>
    </div>

    {% include "partials/social-cards.njk" %}
