      <aside class="sidebar">
        <h2 class="sidebar-title recent-posts">{{ t.blog_title | striptags | default("Recent Posts") }}</h2>
        {%- for post in blog[L] | reverse %}
        {%- if loop.index <= 4 %}
        <article class="recent-post">
          <div class="thumb" style="background-image:url('{{ langRoot }}img/blog/{{ post.image }}');" aria-hidden="true"></div>
          <div class="meta">
            <h4><a href="/{{ L }}/{{ post.link }}">{{ post.title }}</a></h4>
            <time datetime="{{ post.datetime }}">{{ post.date }}</time>
          </div>
        </article>
        {%- endif %}
        {%- endfor %}
      </aside>
