      <div class="testimonials-grid">
        {%- for item in testimonials[L] %}
        <div class="testimonial-card">
          <blockquote>"{{ item.quote }}"</blockquote>
          <div class="name">{{ item.name }}</div>
          <div class="title">{{ item.title }}</div>
        </div>
        {%- endfor %}
      </div>
